html {
  min-width: 100%;
  max-width: 100%;
}


body {
  font-family: 'Lato';
  color: #FFF;
  background: #191919;
}

#header {
  position: fixed;
  height: 20vh;
  width: 100vw;
  margin: auto;
  z-index: 1000;
  background: rgba(25, 25, 25, 0);
  display:flex;
}

div.header-left {
  height: 20vh;
  align-items: center;
  width: 30vw;
  transition: all 0.2s ease-in;
  display:flex;
  flex-direction: row;
}

div.header-left:hover {
  transform: scale(1.05,1.05);
  cursor: pointer;
  align-items: center;
}

div.header-right {
  height: 20vh;
  width: 70vw;
  align-items: center;
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.logo-text {
  color: #a6b894;
  margin-left: 2vw;
  margin-top: 0vh;
  margin-bottom: 0vh;
  font-size:6.5vmax;
  z-index: 2;
  background: url(../img/tie-dye-option3.png) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #FFF;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

#search-bar {

  margin-right: 2vw;
  font-size: 14px;
  width: auto;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-color: #FFF;
  border-width: 1px;
  background: rgba(25, 25, 25, .4); 
}

#search-bar:hover {
  color: #00FFE3;
  border-color: #00FFE3;
}

#btn-new-viz {
  border-style: solid;
  margin-right: 3vw;
  height: 50px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-color: #FFF;
  border-width: 1px;
  background: rgba(25, 25, 25, .4);
  transition: all .2s ease-in;
}

#btn-new-viz:hover {
  /*background: #2f2f2f;*/
  color: #00FFE3;
  border-color: #00FFE3;
  cursor: pointer;
  /*background: url(../img/tie-dye-option3.png) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/

}

#sort-feature {
  margin-right: 15vw;
  position:relative;
}

#sort-header {
  font-size: 14px;
  display: block;
  border-style: solid;
  height: 30px;
  width: 95px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-color: #FFF;
  border-width: 1px;
  background: rgba(25, 25, 25, .5);
  z-index: 1;
  transition: all .2s ease-in; 
}

#sort-header:hover {
  color: #00FFE3;
  border-color: #00FFE3;
  cursor: pointer;
}
  
.sort-menu {
  z-index: 1001;
  position: absolute;
  top: 5vh;
  left: 0vw;
}

.sort-button {
  /*position: relative;*/
  margin: 0px;
  /*top: 5px;*/
  font-size: 14px;
  display: block;
  border-style: solid;
  height: 30px;
  width: 95px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-color: #FFF;
  border-width: 1px;
  z-index: 1001;
  background: rgba(25, 25, 25, .4); 
  transition: all 0.3s ease-in;
  
}

.sort-button:hover {
  color: #FFF;
  border-color: #E26BF0;
  background: #E26BF0;
  cursor: pointer;
}

.sortslide-appear {
  opacity: 0.01;
  transform: translate(0px,0px);
  transition: all .3s ease-in;
}

.sortslide-appear.sortslide-appear-active {
  transform: translate(0px,0px);
  opacity: 1;
}

.example-appear {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

#container { 
  padding-top: 20vh;
  background: #191919;
}

.viz {
  height: 20%;
  width: 20%;
  float: left;
  /*margin: px;*/
}

img {
  height: 100%;
  width: 100%;
}



.controls {
  position: relative;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

#clear-trans {
  position: absolute;
  top: -6vh;
  right: 0vw;
}

#add-trans {
  position: absolute;
  top: -6vh;
  right: 12vw;
}

/*#drop {
  border: 3px dashed #ddd;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}*/

/*#drop.wavesurfer-dragover {
  border-color: #333;
}*/

#vizname {
  position:fixed;
  top: 78vh;
  left: 23vw;
  font-weight:100;
  z-index: 2;

}

.viz-container {
  position: relative;
  top: 0;
  height: 100%;
  margin: none;
  z-index: ;
}

.viz-container > canvas {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.wave-container {
  position: fixed;
  min-width: 60vw;
  top: 83vh;
  margin-left: 20vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

.menu {
  position: absolute;
  color: #FFF;
  top: 15vh;
  left: 2vw;
  background-color: rgba(0, 0, 0, 0.3);
  /*width: 160px;*/
  z-index: 2;
  -webkit-transition: all 0.4s ease;
}

.menu-button {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  text-transform: lowercase;
  font-size: 0.8em;
  color: #c8c8c8;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 18px 13px 13px;
  -webkit-transition: all 0.2s ease;
}
.menu-button span {
  font-size: 1.2em;
}
.menu-button:hover {
  cursor: pointer;
  color: #fff;
}

.close {
  position: absolute;
  color: #c8c8c8;
  left: 0px;
  top: 30px;
  font-size: 0.8em;
  padding: 8px 18px 13px 13px;
}
.close:hover {
  cursor: pointer;
  color: #fff;
}
.menu p {
  padding: 7px 0px 0px 10px;
  margin: 0;
  letter-spacing: 0.02em;
  font-size: 0.8em;
  text-transform: lowercase;
  cursor: default;
}
.menu p:first-of-type {
  margin-top: 30px;
}
.menu p.small {
  color: #808080;
  font-size: 0.7em;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 6px 0 6px 0;
}
.menu li {
  position: relative;
  text-transform: lowercase;
  padding: 4px 0px 4px 10px;
  margin-right: 2vw;
  font-size: 0.8em;
  letter-spacing: -0.01em;
  text-indent: 0.7em;
  cursor: default;
}
.menu li.selected:before {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
}
.menu li:not(.selected):hover { 
  cursor: pointer;
}

.menu li label { 
  margin-right: 1vw;
}


.controls {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 100;

}

.controls button {
  border-style: solid;
  border-color: #FFF;
  border-width: 1px;
  background: rgba(25, 25, 25, .4);
}

i#play {
  font-size: 2.5em;
  position: fixed;
  top: 81vh;
  left: 20vw;
  transition: all 0.2s ease-in;

}

i#play:hover {
  cursor: pointer;
  color: #A3FFA3;
}

i#pause {
  font-size: 2.5em;
  position: fixed;
  top: 81vh;
  left: 20vw;
  transition: all 0.2s ease-in;

}

i#pause:hover {
  cursor: pointer;
  color: #A3FFA3;
}

#search-icon {
  font-size:2em;
  margin-right: 1vw;  
}

/*Menu Drawer Code*/

.menu-drawer {
  margin-top: 0%;
  position: absolute;
  top: 0vh;
  left: 80vw;
  display: block;
  width: 20vw;
  height: 100vh;
  
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1002;
  transition: all 0.35s ease-in;
}

.menu-drawer.hidden {
  position: absolute;
  left: 100vw;
  display: block;
  width: 20vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#toggle {
  position: absolute;
  top: 5vh;
  right: 8vw;
  font-size: 14px;
  display: block;
  border-style: solid;
  height: 30px;
  width: 95px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-color: #FFF;
  border-width: 1px;
  background: rgba(25, 25, 25, .4); 
  z-index: 1004;
}

#spinner-gif {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 2;
  top: 90vh;
  left: 50vw;
}





































