<div id="webgl-container"></div>

<div class="menu">
    <div class="close">- hide options</div>
    <p>Color</p>
    <ul class="color">
        <li>
          <form for='input-red'>Red</form>
          <input id='input-red' type='number' name="red">
        </li>
        <li>
          <form for='input-green'>Green</form>
          <input id='input-green' type='number' name="green">
        </li>
        <li>
          <form for='input-blue'>Blue</form>
          <input id='input-blue' type='number' name="blue">
        </li>
    </ul>
    <ul class='shape'>
      <li>
        <label>Sphere</label>
        <input type="radio" name="shape" value="sphere">
      </li>
      <li>
        <label>Cube</label>
        <input type="radio" name="shape" value="cube">
      </li>
    </ul>
    <p>Source</p>
    <ul>
        <li class="track">Track</li>
    </ul>
</div>
<div class="menu-button"><span>+</span> show options</div>

<h1>Home Page</h1>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(function() {

  $("input").click(function() { $("body").append("<p>goodbye</p>") });
})
</script>
<form>
<input type="checkbox" id="checkme" value="yes">I can be checked<br>
</form>