<h1>Home Page</h1>

<div class="container">
  <div>
    <div id="wave"></div>
      <div id="wave-timeline"></div>
      <div class="controls">
        <button data-action="backward">Backwards</button>
        <button data-action="play">Play/Pause</button>
        <button data-action="forward">Forwards</button>
        <button data-action="toggle-mute">Mute</button>
      </div>
  </div>
  <p id="drop">Drop your file here</p>
</div>