<h1>Home Page</h1>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(function() {

  $("input").click(function() { $("body").append("<p>goodbye</p>") });
})
</script>
<form>
<input type="checkbox" id="checkme" value="yes">I can be checked<br>
</form>
