<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <title>NWMP</title>
</head>
<body>
  <%= yield %>
  
  <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
  <script src="https://fb.me/react-with-addons-0.13.3.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/three.min.js"></script>
  <script src="/javascript/Stats.js"></script>
  <script src="/javascript/Menu.js"></script>
  <script type="text/jsx" src="/javascript/application.jsx"></script>
  <script src="/javascript/wavesurfer/wavesurfer.min.js"></script>
  <script src="/javascript/wavesurfer/util.js"></script>
  <script src="/javascript/wavesurfer/webaudio.js"></script>
  <script src="/javascript/wavesurfer/drawer.js"></script>
  <script src="/javascript/wavesurfer/drawer.canvas.js"></script>
  <script src="/javascript/wavesurfer/wavesurfer.timeline.js"></script>
  <script src="/javascript/music_interface.js"></script>
  <script src="/javascript/start_music_interface.js"></script>

</body>
</html>
