<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <title>NWMP</title>
</head>
<body>
  <%= yield %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
  <script src="https://fb.me/react-with-addons-0.13.3.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="javascript/jquery.sliphover.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>
  <script src="/javascript/grid_caption.js"></script>
  <script type="text/jsx" src="/javascript/components/appview.jsx"></script>
  <script type="text/jsx" src="/javascript/components/audiowave.jsx"></script>
  <script type="text/jsx" src="/javascript/components/edit_view.jsx"></script>
  <script type="text/jsx" src="/javascript/components/parameter_menu.jsx"></script>
  <script type="text/jsx" src="/javascript/components/visualization_item.jsx"></script>
  <script type="text/jsx" src="/javascript/components/sortMenuHeader.jsx"></script>
  <script type="text/jsx" src="/javascript/components/sortMenu.jsx"></script>
  <script type="text/jsx" src="/javascript/components/searchBar.jsx"></script>
  <script type="text/jsx" src="/javascript/components/visualization_list.jsx"></script>
  <script src="/javascript/visualization.js"></script>
  <script src="/javascript/transition.js"></script>
  <script type="text/jsx" src="/javascript/application.jsx"></script>
  <script src="/javascript/wavesurfer/wavesurfer.min.js"></script>
  <script src="/javascript/wavesurfer/wavesurfer.timeline.js"></script>
  <script src="/javascript/wavesurfer/plugin/wavesurfer.regions.js"></script>
  <script src="/javascript/music_interface.js"></script>
  <script src="/javascript/webgl_visualizer.js"></script>
</body>
</html>
